body {
    margin: 0;
    font-family: 'Amatic SC', cursive;
    font-size: 14px;
    line-height: 1.6;
    color: #000;
    background: url(/accets/photo/header__baget.png) ;
    background-size: cover;
    background-blend-mode: screen;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} 

   
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* a */
a {
    text-decoration: none;
}


h1 {
    text-align: center;
    margin-top: 30px;
    font-size: 50px;
}


/* Burger */
.burger {
    float: right;
    background: none;
    border: none;
    /* border: 2px solid #000; */
    /* border-radius: 9px; */
    padding: 15px 5px;
    margin-right: 10px;
    cursor: pointer;
    margin-top: 5px;
}

.burger:focus {
    outline: 0;
}

.burger__item {
    display: none;
    width: 30px;
    height: 3px;

    background-color: #ffffff;

    border-radius: 20px;
    

    font-size: 0;
    color: transparent;

    position: relative;
}

.burger__item:before, 
.burger__item:after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    
    border-radius: 20px;

    position: absolute;
    left: 0;
    z-index: 1;
}

.burger__item:before {
    top: -8px;
}

.burger__item:after {
    bottom: -8px;
}

.burger.show .burger__item {
    
    background: none;
}

.burger.show .burger__item::before {
    transform-origin: left top;
    transform: rotate(45deg) translateX(-3px);
}

.burger.show .burger__item:after {
    transform-origin: left bottom;
    transform: rotate(-45deg) translateX(-3px);
}


/* Container */
.container {
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

/* Header */
.header {
    width: 100%;
    padding-top: 20px;
    padding-left: 20px;

    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    /* background: url(/accets/photo/nav.png); */
}


.header__logo {
    margin-top: 10px;
    /* margin-left: 40px; */
}

.header__logo img{
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
} 


/* Nav */
.nav {
    font-size: 32px;
    text-transform: uppercase;
    
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 10px 15px;
    position: relative;
    padding: 0 5px;

    background: #fff;
    opacity: .6;
    border: 3px solid #000;
    border-radius: 15px;

    color: rgb(0, 0, 0);
    text-decoration: none;

    transition: color .1s linear;
}

.nav__link:hover {
    opacity: .9;
}

/* Contacts */
.contacts {
    position: relative;
    justify-content: center;
}

.contacts__inner {
    position: relative;
    display: flex;
}

.footer__col--map {
    padding-top: 150px;
    width: 50%;
    margin-left: 50px;
}

.footer__col--all {
    padding-top: 140px;
    width: 50%;
    margin-top: 130px;
}

.contacts__text {
    padding: 40px;
    border: 2px solid #000;
    background-color: #fff;
    opacity: .7;
    border-radius: 20px;
    width: 70%;
    margin: -40px auto;
}

.contacts__number,
.contacts__adress {
    text-align: center;
    margin-bottom: 10px;
    font-size: 40px;
}

.tel {
    color: #000000;
}

.tel:hover {
    color: #c44d09;
}

.contacts__brand a {
    color: #000000;
    font-size: 28px;
}

.contacts__brand a:hover {
    color: #c44d09;
}

.contacts__brand p{
    text-align: center;
}






@media (max-width: 1125px) {

    /* Header */
    .header {
        padding-top: 5px;
    }



    .header__logo {
        margin-top: 0px;
        /* margin-left: 40px; */
    }


    /* nav  */
    .nav {
        font-size: 28px;
    }

    .nav__link {
        margin: 5px 10px;
    }

    /* Contacts */

    .contacts__map {
        margin-top: 50px;
        width: 500px;
        height: 400px;
    }

    .contacts__text {
        padding: 30px  15px;
    }
    
    .contacts__number,
    .contacts__adress {
        text-align: center;
        margin-bottom: 10px;
        font-size: 32px;
    }
}


@media (max-width: 991px) {

    /* Header */
    .header__logo img{
        width: 150px;
        height: 150px;
    }


    /* Nav */
    .nav {
        font-size: 25px;
    }

    .nav__link {
        margin: 5px ;
    }


    /* Contacts */

    .contacts__map {
        margin-top: 0px;
        width: 400px;
        height: 300px;
    }

    .footer__col--map {
        padding-top: 130px;
    }
    
    .footer__col--all {      
        padding-top: 70px;
    }

    .contacts__text {
        padding: 30px  15px;
    }
    
    .contacts__number,
    .contacts__adress {
        text-align: center;
        margin-bottom: 10px;
        font-size: 25px;
    }
}

@media (max-width: 767px) {
    .header__logo{
        display: flex;
        justify-content: space-between; 
    }

    .burger__item{
        display: block;
    }

    .nav {
        padding-top: 20px;
        display: flex;
        width: 35%;
        flex-direction: column;
        background-color: rgba(233, 0, 0, 0);
        backdrop-filter: blur(0px);
        font-size: 25px;

        text-align: left;

        position: absolute;
        top: 25px;
        right: 0;
        z-index: 9999;
        display: none;
    }

    .nav.show {
        display: flex;
    }

    .nav__link {
        padding: 0px 15px ;
        opacity: 10;
    }

    /* contacts */
    .contacts {
        justify-content: center;
        margin-top: 150px;
    }

    .contacts__col {
        width: 100%;
    }

    .contacts__inner {
        display: flex;
        flex-wrap: wrap;
    }

    .footer__col--map {
        position: relative;
        margin-left: 0;
        text-align: center;
    }

    .contacts__map {
        width: 450px;
        height: 400px;
    }

    .footer__col--all {
        padding-top: 0;
    }

    .contacts__col {
        margin-top: 10px;
        padding-top: 0;
    }

    .contacts__text {
        justify-content: center;
        margin-top: 10px;
        padding: 10px  10px 0 10px;
    }

    .contacts__number,
    .contacts__adress {
        font-size: 25px;
    }

    .contacts__brand a {
        font-size: 25px;
    }
}


@media (max-width: 600px) {
    .container {
        padding: 0;
    }

    /* Header */
    .header {
        padding-top: 5px;
        padding-left: 5px;
    }

    .header__logo img {
        width: 30%;
        width: 120px;
        height: 120px;
        margin: 5px;
    }
     
    .contacts__map {
        width: 300px;
    }
}













